---
{
    "stream": {
        "$id": "Locations",
        "source": "knowledgeGraph",
        "destination": "pages",
      "filter": {
        "entityTypes": [
          "location"
        ]
      },
      "fields": [
        "id",
        "name",
        "slug",
        "address",        
        "featuredMessage",
        "emails",
        "menuUrl",
        "websiteUrl",
        "hours",
        "photoGallery"
      ],
      "localization": {
          "locales": ["en"]
      }
    },
    "urlFormat": "{{slug}}.html"
}
---
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{{name}}</title>
        <meta name="description" content="{{featuredMessage}}">
        {{>head}}
    </head>
    <body class="bg-white text-gray-600 font-Poppins leading-normal text-base tracking-normal">
        <div class="centered-container">
              {{>navbar}}
        </div>
        <div class="centered-container">
            <div class="flex flex-wrap">                
                <div class="px-10 py-10 w-full">
                    <h2 class="text-3xl lg:text-4xl md:text-3xl font-semibold text-textwhite mb-6">{{name}}</h2>                    
                    


    <div class="grid gap-y-10 md:grid-cols-1 lg:grid-cols-1 lg:col-span-1">
        <div class='address mt-3'>
            <h2 class="mb-3">Address</h3>
            <a id="address" class="hover:underline" href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}" target="_blank">
                <div>{{address.line1}}</div>
                <div>{{address.city}}, {{address.region}} {{address.postalCode}}</div>
                <div>{{address.countryCode}}</div></a>
        </div>

        <div class="phone mt-3">
            <h2 class="mb-3">Contact</h3>            
        </div>
    </div>
	<br/><br/><br/>
    <div class="hours">
        <h2 class="mb-3">Hours</h3>
        <div>{{!-- <summary class="hours-list text-base">   --}}
  {{#with (formatHours hours "Monday" "TimeFormatShort" "DateFormatShort") }}
      {{#each this.regularHours}}
      <div class="grid grid-cols-2 lg:grid-cols-5">
        <div class="lg:col-span-2">
          <strong>{{this.displayDay}}</strong>
        </div>
        <div class="lg:col-span-3">
          {{#if this.isClosed}}Closed{{/if}}
          {{#if this.is247}}Open 24/7{{/if}}
          {{#each this.openIntervals}}
            {{this.start}}-{{this.end}}
          {{/each}}
        </div>
      </div>
      {{/each}}
  {{/with}}
{{!-- </summary> --}}</div>
    </div>

<br/><br/><br/>
					<p class="mt-3" ><a onclick="fireConversion()" href="https://www.google.com/maps/dir/?api=1&destination={{address.line1}} {{address.city}} {{address.region}} {{address.postalCode}}" data-yext-analytics="getdirections" class="direction-url cursor-pointer " >Get Directions</a></p>
                </div>
			
            </div>
        </section>        
        {{>footer}}
    </body>
</html>